<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nha Khoa Ánh Dương</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">
    <script src="{{url_for('static', filename='js/javascripts.js')}}"></script>
</head>
<body class="d-flex flex-column min-vh-100">
{%block header%}
{%include 'layout/navbar.html'%}
{%endblock%}

<div class="container flex-grow-1">
{%block content required%}
{%endblock%}
</div>
{%block footer%}
{%include 'layout/footer.html'%}
{%endblock%}
</body>
</html>